<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Alley Craft - the work of David and Amy Alley</title>
  <link href="/alleycraft.css" type="text/css" rel="stylesheet" />
  <meta name="keywords"
    content="David Alley, Amy Alley, Pensacola, recrafting, woodworking, carpentry, remodeling, design" />
  <meta name="description"
    content="AlleyCraft.com is the home for David Alley Carpentry, Cabinets &amp; Remodeling and Amy Amy ReCrafting" />

</head>
{{ content }}

<body>
</body>

</html>
