<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>David Alley Cabinetry - Corpus Christi Texas</title>
  <link href="/david.css" type="text/css" rel="stylesheet">
  <link href="/style.css" type="text/css" rel="stylesheet">
  <meta name="keywords"
    content="David Alley, Amy Alley, Texas, Pensacola, recrafting, woodworking, carpentry, remodeling, design" />
  <meta name="description"
    content="AlleyCraft.com is the home for David Alley Carpentry, Cabinets &amp; Remodeling and Amy Amy ReCrafting" />
  <link rel="icon" href="/davidfavicon.png">
</head>

<body>

  <header>
    <nav>
      <ul>
        <li><a href="/">Alley Craft Home</a></li>
        <li><a href="/wood/about">About</a></li>
        <li><a href="/wood/works">Works Gallery</a></li>
        <li><a href="/wood/contact">Contact</a></li>
      </ul>
    </nav>
  </header>
  <main>
    {{content}}
  </main>
</body>

</html>
