<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Historic Brownsville Community Pensacola, Florida</title>
  <link type="icon" href="/favicon.png">
  <link href="/style.css" type="text/css" rel="stylesheet">
  <meta name="description" content="Brownsville Community Organization meeting monthly.">

</head>

<body>
  <main>
    {{ content }}
  </main>
</body>

</html>
